/*My Counter App*/

.mycounter{
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.col-img{
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@keyframes up-down{
  0%{
    transform: translateY(20px);
  }
  100%{
    transform: translate();
  }
}


/*BackgroundColor*/



.col_bg{
  height: 120px;
  border-radius: 10px;
 
}